footer {
    background-color: black;
    margin-top: 1em;
padding-top: 2em;
margin-top: 2em;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left{
    padding-bottom: 3em;
    margin-top: 4em;
}

.footer__left p{
    color: white;
    font-size: 1.8em;
    padding: 1em 0;
}
.footer__center{
    padding-bottom: 3em;
    margin-top: 5em;
}
.footer__center h2{
    color: white;
    font-size: 2em;
    padding-bottom: 1em;
}
.footer__center ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:2em
}
.footer__center ul li{
    list-style-type: none;

}
.footer__center ul li a{
    text-decoration: none;
    color: white;

}
.footer__center ul li a:hover{
    color:#eea235;
}
.footer__right h2{
    color: white;
    font-size: 2em;
    padding-bottom: 1em;
}
.footer__right {
    padding-bottom: 3em;
    
}
.subscribe{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.footer__right input{
    
padding: 2em;
flex: 1;
border: none;
outline: none;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
}
.footer__right button{
    background-color: #eea235;
  border: none;
  color: #fff;
  padding: 2em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}