* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav */
nav {
  background-color: #f4f7fb;

  /* margin: 2em; */
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width:90%
}
.nav__center ul {
  display: flex;
  gap: 7em;
}
.nav__center ul li {
  list-style-type: none;
  font-size: 1.5rem;
}
.nav__center ul li a {
  padding: 1em;
}
.nav__center ul li a:hover {
  background-color: #eea534;
  color: white;
}

.nav__center ul li a {
  text-decoration: none;
  color: black;
}
.nav__right {
  display: flex;
  gap: 2em;
}

.hero__container{
  justify-content:space-between;
  display: flex;
  font-weight: 600;
}
.hero__left{
  font-size: large;
  width: auto;
}
.hero__left p {
  margin: 1em 0;;

  /* font-size: 1.5rem; */
}
.hero__left h1 span {
  color: #eea534;
}

/* Search bar */
.search{
  border: 2px solid gray;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 1em;
}
.search input{
padding: 2em;
flex: 1;
border: none;
outline: none;

}
.search button{
  border: none;
  background-color: #000;
  color: #fff;
  padding: 2em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.hero__container .card{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}
.hero__container .card__left{
  background-color: #f4f7fb;
  padding: 1em 2em;

}
.hero__container .card__left--image{
  background-color: black;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__container .card__center{
padding: 1em 2em;
  background-color: #f4f7fb;
}
.hero__container .card__center--image{
  background-color: black;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.hero__container .card__right{
  background-color: #f4f7fb;
  padding: 1em 2em;

}
.hero__container .card__right--image{
  background-color: black;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}



