*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* nav */
nav{
    background-color: #f4f7fb;
    
    /* margin: 2em; */
 }
 .nav__container{
    display: flex;
    justify-content: space-around; 
    align-items: center;
 }
 .nav__center ul{
    display: flex;
    gap: 3em;
 }
 .nav__center ul li{
    list-style-type: none; 
    font-size: 1.5rem;
}

.nav__center ul li a{
    text-decoration: none;
    color: black;

}
.nav__right{
    display: flex;
    gap:2em;
}

