.whyus{
    display: flex;
    gap: 2em;
    background-color: #f4f7fb;
}
.why__right .content{
  background-color: white;

}
.whyus h2{
  margin: 1em 0;
}
.whyus h2 span{
color:#eea235;
}
  .why__right{
    display:flex;
    flex-direction:column;
justify-content:space-between;
    
  }
  .why__right .card p{
    color:grey;
  }

  .why__right .card{
    background-color:white ;
    display: flex;
    align-items: center;
    padding-left:1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
  }

  .why__right .card div:first-child{
    background-color: black;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
  }
